In [3]:
import pandas as pd
import numpy as np
import os

os.listdir('../data')

['201801_Seoul_traffic.csv',
 '201804_Seoul_traffic.csv',
 '201807_Seoul_traffic.csv',
 '201810_Seoul_traffic.csv',
 '2018년 01월 서울시 차량통행속도.xlsx',
 '2018년 04월 서울시 차량통행속도.xlsx',
 '2018년 07월 서울시 차량통행속도.xlsx',
 '2018년 10월 서울시 차량통행속도.xlsx',
 '2018년 11월 서울시 차량통행속도.xlsx',
 '2018년 12월 서울시 차량통행속도.xlsx',
 'accident11.xlsx',
 'dt_201903.csv',
 'dt_total.csv',
 'dust1.csv',
 'gugucon.csv',
 'holiday.csv',
 'road_info.csv',
 'weather',
 'weather_merged.csv',
 '도로정보_TOTAL.xlsx',
 '미세먼지1.xls',
 '미세먼지10.xls',
 '미세먼지4.xls',
 '미세먼지7.xls']

In [11]:
dust = pd.read_csv('../data/dust1.csv')
dust.head()

         date  time 측정소명    SO2   CO     O3    NO2  PM10  PM2.5
0  2018-01-01     1   중구  0.004  0.5  0.020  0.020  34.0   19.0
1  2018-01-01     2   중구  0.004  0.4  0.024  0.016  27.0   14.0
2  2018-01-01     3   중구  0.004  0.4  0.018  0.022  26.0   14.0
3  2018-01-01     4   중구  0.004  0.5  0.010  0.030  26.0   15.0
4  2018-01-01     5   중구  0.004  0.6  0.011  0.029  28.0   16.0

In [12]:
dust.isnull().sum()

date        0
time        0
측정소명        0
SO2      2878
CO       2991
O3       2514
NO2      2394
PM10     2517
PM2.5    2298
dtype: int64

# NA  처리 방법 1
- date와 time을 일치시켜 다른 전체 지역의 평균값으로 대체

In [13]:
def NA_mean(col, date, time) :
    return dust[(dust['date'] == date) & (dust['time'] == time)][col].mean()

In [19]:
cols = ['SO2','CO','O3','NO2','PM10','PM2.5']

In [31]:
for col in cols :
    frame = dust[dust[col].isnull()]
    mean_value = frame.apply(lambda x : NA_mean(col, x['date'],x['time']), axis =1)
    dust.loc[mean_value.index, col] = mean_value

In [32]:
dust.isnull().sum()

date     0
time     0
측정소명     0
SO2      0
CO       0
O3       0
NO2      0
PM10     0
PM2.5    0
dtype: int64

In [34]:
dust.측정소명.value_counts()

동작구     2952
서대문구    2952
양천구     2952
도봉구     2952
금천구     2952
동대문구    2952
서초구     2952
구로구     2952
용산구     2952
마포구     2952
강동구     2952
중구      2952
종로구     2952
성북구     2952
강서구     2952
광진구     2952
영등포구    2952
성동구     2952
강남구     2952
노원구     2952
강북구     2952
중랑구     2952
송파구     2952
관악구     2952
은평구     2952
Name: 측정소명, dtype: int64

In [33]:
dust.head()

         date  time 측정소명    SO2   CO     O3    NO2  PM10  PM2.5
0  2018-01-01     1   중구  0.004  0.5  0.020  0.020  34.0   19.0
1  2018-01-01     2   중구  0.004  0.4  0.024  0.016  27.0   14.0
2  2018-01-01     3   중구  0.004  0.4  0.018  0.022  26.0   14.0
3  2018-01-01     4   중구  0.004  0.5  0.010  0.030  26.0   15.0
4  2018-01-01     5   중구  0.004  0.6  0.011  0.029  28.0   16.0

In [35]:
#dust.to_csv('../data/dust_final.csv', index = False)