In [3]:
import pandas as pd
import os

os.listdir('../data/final')

['carspeed_14710.csv', 'carspeed_25811.csv']

In [4]:
carspeed1 = pd.read_csv('../data/final/carspeed_14710.csv')
carspeed2 = pd.read_csv('../data/final/carspeed_25811.csv')

In [7]:
print('shape 1 : ', carspeed1.shape)
print('shape 2 : ', carspeed2.shape)

shape 1 :  (4156794, 31)
shape 2 :  (2954589, 31)

# common link

In [10]:
common_link = set(carspeed1.link_id).intersection(set(carspeed2.link_id))
len(common_link)

4527

In [12]:
carspeed1 = carspeed1[carspeed1.link_id.isin(common_link)]
carspeed2 = carspeed2[carspeed2.link_id.isin(common_link)]

In [13]:
print('shape 1 : ', carspeed1.shape)
print('shape 2 : ', carspeed2.shape)

shape 1 :  (4098912, 31)
shape 2 :  (2926583, 31)

In [19]:
carspeed2 = carspeed2[carspeed1.columns]

In [21]:
carspeed = pd.concat([carspeed1, carspeed2], axis = 0)
carspeed.shape

(7025495, 31)

In [22]:
del carspeed1, carspeed2

# intersection

In [23]:
os.listdir('../data')

['201801_Seoul_traffic.csv',
 '201804_Seoul_traffic.csv',
 '201807_Seoul_traffic.csv',
 '201810_Seoul_traffic.csv',
 'accident11.xlsx',
 'dt_201903.csv',
 'dust1.csv',
 'dust_final.csv',
 'final',
 'gugucon.csv',
 'holiday.csv',
 'intersection.csv',
 'road_info.csv',
 'weather_merged.csv',
 '미세먼지1.xls',
 '미세먼지10.xls',
 '미세먼지4.xls',
 '미세먼지7.xls']

In [28]:
intersection = pd.read_csv('../data/intersection.csv')
intersection.head(3)

     도로명   상행   하행
0  4.19로  2.0  2.0
1    가락로  4.0  4.0
2  가로공원로  4.0  4.0

In [29]:
intersection = intersection.melt(id_vars = '도로명')
intersection.columns = ['road_name','direction','inter_num']
intersection.head()

  road_name direction  inter_num
0     4.19로        상행        2.0
1       가락로        상행        4.0
2     가로공원로        상행        4.0
3  가로공원로76길        상행        1.0
4      가마산로        상행       10.0

In [27]:
carspeed.head(3)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_num,road_type,...,kids,speed_limit,entrance,signal,SO2,CO,O3,NO2,PM10,PM2.5
0,20180102,화,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,하행,354,2.0,보조간선도로,...,0.0,40.0,25.0,8.0,0.004,1.1,0.002,0.05,40.0,19.0
1,20180102,화,노해로,1080010300,광산사거리,대한병원,상행,868,3.0,보조간선도로,...,0.0,30.0,84.0,74.0,0.004,1.1,0.002,0.05,40.0,19.0
2,20180102,화,노해로,1080010400,대한병원,광산사거리,하행,819,2.0,보조간선도로,...,0.0,30.0,84.0,74.0,0.004,1.1,0.002,0.05,40.0,19.0

In [31]:
carspeed = pd.merge(carspeed, intersection, how = 'left', left_on = ['road_name','direction'], right_on = ['road_name','direction'])
carspeed.shape

(7025495, 32)

# accident_new

In [32]:
os.listdir('../data')

['201801_Seoul_traffic.csv',
 '201804_Seoul_traffic.csv',
 '201807_Seoul_traffic.csv',
 '201810_Seoul_traffic.csv',
 'accident11.xlsx',
 'accident_new.csv',
 'dt_201903.csv',
 'dust1.csv',
 'dust_final.csv',
 'final',
 'gugucon.csv',
 'holiday.csv',
 'intersection.csv',
 'road_info.csv',
 'weather_merged.csv',
 '미세먼지1.xls',
 '미세먼지10.xls',
 '미세먼지4.xls',
 '미세먼지7.xls']

In [35]:
accident_new = pd.read_csv('../data/accident_new.csv')
accident_new.columns = ['road_name','사망자수','중상자수','경상자수','부상신고자수','victims','severity','accident_count']
accident_new.head(3)

  road_name  사망자수  중상자수  경상자수  부상신고자수  victims  severity  accident_count
0     4.19로     0     3    15       1       19        55              13
1       63로     0     0     3       1        4        10               3
2       가락로     0    20    50      15       85       225              70

In [38]:
carspeed = pd.merge(carspeed, accident_new, how = 'left', left_on = ['road_name'], right_on = ['road_name'])
carspeed.head()

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_num,road_type,...,PM10,PM2.5,inter_num,사망자수,중상자수,경상자수,부상신고자수,victims,severity,accident_count
0,20180102,화,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,하행,354,2.0,보조간선도로,...,40.0,19.0,2.0,0.0,3.0,15.0,1.0,19.0,55.0,13.0
1,20180102,화,노해로,1080010300,광산사거리,대한병원,상행,868,3.0,보조간선도로,...,40.0,19.0,12.0,0.0,39.0,157.0,21.0,217.0,609.0,159.0
2,20180102,화,노해로,1080010400,대한병원,광산사거리,하행,819,2.0,보조간선도로,...,40.0,19.0,12.0,0.0,39.0,157.0,21.0,217.0,609.0,159.0
3,20180102,화,노해로,1080012400,광산사거리,숭미파출소,하행,538,2.0,보조간선도로,...,40.0,19.0,12.0,0.0,39.0,157.0,21.0,217.0,609.0,159.0
4,20180102,화,덕릉로,1080006600,한신대,화계사입구,상행,355,2.0,보조간선도로,...,40.0,19.0,23.0,1.0,69.0,168.0,18.0,256.0,741.0,186.0

In [39]:
carspeed.isnull().sum()

date                   0
days                   0
road_name              0
link_id                0
start_point            0
end_point              0
direction              0
road_length            0
road_num               0
road_type              0
urban_suburb           0
district               0
special                0
vacation               0
time                   0
value                  0
temperature            0
wind                   0
rain                   0
snow                   0
cctv                   0
kids                   0
speed_limit            0
entrance               0
signal                 0
SO2                    0
CO                     0
O3                     0
NO2                    0
PM10                   0
PM2.5                  0
inter_num              0
사망자수              150327
중상자수              150327
경상자수              150327
부상신고자수            150327
victims           150327
severity          150327
accident_count    150327
dtype: int64

In [40]:
carspeed = carspeed.fillna(0)
carspeed.isnull().sum()

date              0
days              0
road_name         0
link_id           0
start_point       0
end_point         0
direction         0
road_length       0
road_num          0
road_type         0
urban_suburb      0
district          0
special           0
vacation          0
time              0
value             0
temperature       0
wind              0
rain              0
snow              0
cctv              0
kids              0
speed_limit       0
entrance          0
signal            0
SO2               0
CO                0
O3                0
NO2               0
PM10              0
PM2.5             0
inter_num         0
사망자수              0
중상자수              0
경상자수              0
부상신고자수            0
victims           0
severity          0
accident_count    0
dtype: int64

In [41]:
#carspeed.to_csv('../data/final/carspeed.csv', index = False)