In [150]:
import numpy as np
import pandas as pd
car3 = pd.read_csv("car_speed_03.csv")
car6 = pd.read_csv("car_speed_06.csv")
car9 = pd.read_csv("car_speed_09.csv")
car12 = pd.read_csv("car_speed_12.csv")

In [151]:
print(len(car3.columns))
print(len(car6.columns))
print(len(car9.columns))
print(len(car12.columns))
print(car3.columns)
print(car6.columns)
print(car12.columns)

32
35
36
36
Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object')
Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '기능유형구분',
       '도심/외곽구분', '권역구분', '01시', '02시', '03시', '04시', '05시', '06시', '07시',
       '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시'],
      dtype='object')
Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '차선수', '기능유형구분',
       '도심/외곽구분', '권역구분', '01시', '02시', '03시', '04시', '05시', '06시', '07시',
       '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시'],
      dtype='object')

# 2. 출퇴근 시간 외 제거

In [152]:
drop_col = ['01시', '02시', '03시', '04시', '05시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '21시', '22시', '23시', '24시']
car3.drop(drop_col,axis=1,inplace=True)
car6.drop(drop_col,axis=1,inplace=True)
car9.drop(drop_col,axis=1,inplace=True)
car12.drop(drop_col,axis=1,inplace=True)

# 1. 공통 링크아이디만 추출

In [153]:
common_obs = list(set(car3.링크아이디) & set(car6.링크아이디)  & set(car9.링크아이디) & set(car12.링크아이디))
print('공통 링크아이디 수 :',len(common_obs))

공통 링크아이디 수 : 4730

In [154]:
car3 = car3[car3['링크아이디'].isin(common_obs)]
car6 = car6[car6['링크아이디'].isin(common_obs)]
car9 = car9[car9['링크아이디'].isin(common_obs)]
car12 = car12[car12['링크아이디'].isin(common_obs)]

In [155]:
merge_col = car12[['링크아이디','차선수', '기능유형구분','도심/외곽구분', '권역구분']]
merge_col = merge_col.drop_duplicates(['링크아이디'], keep='first')

car3 = pd.merge(car3,merge_col,on='링크아이디')
car3 = car3[car12.columns]
car6 = pd.merge(car6,merge_col[['링크아이디','차선수']],on='링크아이디')
car6 = car6[car12.columns]

# 3. 공통 값을 가지는 도로 제거

In [156]:
car3.columns

Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '차선수', '기능유형구분',
       '도심/외곽구분', '권역구분', '06시', '07시', '08시', '09시', '17시', '18시', '19시',
       '20시'],
      dtype='object')

In [157]:
dupli_col = ['링크아이디','06시', '07시', '08시', '09시', '17시', '18시', '19시','20시']
print('original 3 :',car3.shape)
car3 = car3.drop_duplicates(dupli_col,keep=False)
print('after remove :',car3.shape)
print('original 6 :',car3.shape)
car6 = car6.drop_duplicates(dupli_col,keep=False)
print('after remove :',car6.shape)
print('original 9 :',car9.shape)
car9 = car9.drop_duplicates(dupli_col,keep=False)
print('after remove :',car9.shape)
print('original 12 :',car12.shape)
car12 = car12.drop_duplicates(dupli_col,keep=False)
print('after remove :',car12.shape)

original 3 : (146517, 20)
after remove : (145024, 20)
original 6 : (145024, 20)
after remove : (140507, 20)
original 9 : (141827, 20)
after remove : (140667, 20)
original 12 : (146603, 20)
after remove : (145206, 20)

# 4. Melt

In [158]:
car3.columns

Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '차선수', '기능유형구분',
       '도심/외곽구분', '권역구분', '06시', '07시', '08시', '09시', '17시', '18시', '19시',
       '20시'],
      dtype='object')

In [159]:
melt_col = list(car3.columns[:12])
car3 = pd.melt(car3, id_vars = melt_col)
car6 = pd.melt(car6, id_vars = melt_col)
car9 = pd.melt(car9, id_vars = melt_col)
car12 = pd.melt(car12, id_vars = melt_col)

In [160]:
car3.head(2)

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,차선수,기능유형구분,도심/외곽구분,권역구분,variable,value
0,20180313,화,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1,보조간선도로,외곽,강북구,06시,42.95
1,20180331,토,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1,보조간선도로,외곽,강북구,06시,41.73

In [161]:
car3['variable'] = car3['variable'].apply(lambda x: int(x.replace("시","")))
car6['variable'] = car6['variable'].apply(lambda x: int(x.replace("시","")))
car9['variable'] = car9['variable'].apply(lambda x: int(x.replace("시","")))
car12['variable'] = car12['variable'].apply(lambda x: int(x.replace("시","")))

In [162]:
car3.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','time','value']
car6.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','time','value']
car9.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','time','value']
car12.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','time','value']

In [163]:
print(car3.shape) #100man
car3.head(2)

(1160192, 14)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_num,road_type,urban_suburb,district,time,value
0,20180313,화,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1,보조간선도로,외곽,강북구,6,42.95
1,20180331,토,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1,보조간선도로,외곽,강북구,6,41.73

# 5. Weather

In [164]:
weather = pd.read_csv("weather_merged.csv")
weather.drop(['지점', '일시','id'],axis=1,inplace=True)
weather['일자'] = weather['일자'].apply(lambda x: int(x.replace("-","")))
weather = weather.rename(columns={'일자':'date'})
weather.head(2)

   temperature  wind  rain      date district  time  snow
0         -0.7   1.1   0.0  20180101      강남구     0   0.0
1         -0.9   0.9   0.0  20180101      강남구     1   0.0

In [165]:
car3 = pd.merge(car3,weather,on=['date','district','time'],how='inner')
car6 = pd.merge(car6,weather,on=['date','district','time'],how='inner')
car9 = pd.merge(car9,weather,on=['date','district','time'],how='inner')
car12 = pd.merge(car12,weather,on=['date','district','time'],how='inner')

# 6. 공기오염도

In [166]:
airpollution = pd.read_csv("airpollution36912.csv")
airpollution.head(2)

              날짜     시도 측정소명   측정소코드  아황산가스  일산화탄소     오존  이산화질소  PM10  PM2.5
0  2018-03-01 01  서울 중구   중구  111121  0.003    0.6  0.023  0.029   7.0    4.0
1  2018-03-01 02  서울 중구   중구  111121  0.003    0.6  0.015  0.036   6.0    4.0

In [167]:
airpollution['date'] = airpollution['날짜'].apply(lambda x: int(x[:10].replace("-","")))
airpollution['time'] = airpollution['날짜'].apply(lambda x: int(x[-2:]))

In [168]:
airpollution.drop(['날짜','시도','측정소코드'],axis=1,inplace=True)
airpollution.columns = ['district','SO2','CO','O3','NO2','PM10','PM2.5','date','time']

In [169]:
car3 = pd.merge(car3,airpollution,on=['date','district','time'])
car6 = pd.merge(car6,airpollution,on=['date','district','time'])
car9 = pd.merge(car9,airpollution,on=['date','district','time'])
car12 = pd.merge(car12,airpollution,on=['date','district','time'])

# 7. 도로 정보

In [177]:
road = pd.read_csv("도로정보_TOTAL.csv")
road.drop(['도로명','시점명','종점명','방향','노인','장애인','생활도로'],axis=1,inplace=True)
road.head(2)

        링크아이디  CCTV  어린이  제한속도  진출입구   신호기
0  1180021600   0.0  1.0  30.0  21.0  30.0
1  1180021200   0.0  1.0  30.0  21.0  30.0

In [178]:
road.columns = ['link_id','cctv','kids','speed_limit','entrance','signal']

In [179]:
road.columns

Index(['link_id', 'cctv', 'kids', 'speed_limit', 'entrance', 'signal'], dtype='object')

In [180]:
car3.columns

Index(['date', 'days', 'road_name', 'link_id', 'start_point', 'end_point',
       'direction', 'road_length', 'road_num', 'road_type', 'urban_suburb',
       'district', 'time', 'value', 'temperature', 'wind', 'rain', 'snow',
       'SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM2.5'],
      dtype='object')

In [183]:
car3 = pd.merge(car3,road,on=['link_id'],how='inner')
car6 = pd.merge(car6,road,on=['link_id'],how='inner')
car9 = pd.merge(car9,road,on=['link_id'],how='inner')
car12 = pd.merge(car12,road,on=['link_id'],how='inner')

# 8. drop holiday & NA

In [186]:
holiday = pd.read_csv('holiday.csv')
holiday.columns = ['ee']

In [207]:
holiday['date'] = holiday['ee'].apply(lambda x: int(x[:8]))
holiday['holiday'] = holiday['ee'].apply(lambda x: int(x[9:10]))
holiday['special'] = holiday['ee'].apply(lambda x: int(x[11:12]))
holiday['vacation'] = holiday['ee'].apply(lambda x: int(x[13:14]))
holiday.drop('ee',axis=1,inplace=True)
holiday.head(2)

       date  holiday  special  vacation
0  20180101        1        0         0
1  20180102        0        0         0

In [212]:
holiday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 4 columns):
date        365 non-null int64
holiday     365 non-null int64
special     365 non-null int64
vacation    365 non-null int64
dtypes: int64(4)
memory usage: 11.5 KB

In [217]:
car3 = pd.merge(car3,holiday,on=['date'])
car3 = car3[car3['holiday']==0]
car6 = pd.merge(car6,holiday,on=['date'])
car6 = car6[car6['holiday']==0]
car9 = pd.merge(car9,holiday,on=['date'])
car9 = car9[car9['holiday']==0]
car12 = pd.merge(car12,holiday,on=['date'])
car12 = car12[car12['holiday']==0]

# 9. concat

In [5]:
car = pd.concat([car3,car6[car3.columns]])
car = pd.concat([car,car9[car3.columns]])
car = pd.concat([car,car12[car3.columns]])
car = pd.DataFrame(car)
print(car.shape)

(576748, 32)